/* Don't change the existing CSS. */
#outer-box{
  background-color: rgb(186, 22, 186);
  padding: 10px;
}
.white-text{
color: white;
}
.inner-box{
  background-color: red;
  padding: 10px;
}
#outer-box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}